<div class="container-fluid">
  <app-toolbar></app-toolbar>
</div>

<div class=" row">
  <div class=" col-12">
    <div class=" card card-chart">
      <div class=" card-header">
        <div class=" row">
          <div class=" col-sm-6 text-left">
             <h5 class=" card-category">Current Balance</h5> 
            <h2 class=" card-title">$ {{lineGraphData?.totalBalance}}</h2>
          </div>
        </div>
      </div>
      <div style="display: block">
        <div class=" chart-area"><canvas #chartBig1> </canvas></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


